* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

.title {
    padding: 1rem 0;
    margin-bottom: 0.2rem;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 1rem;
    cursor: pointer;
    transition: transform .5s linear;

    border-bottom: 2px solid #000;
    border-radius: 0.1rem;
}

.item:hover {
    transform: scale(1.02);
}

.item>img {
    height: 200px;
    width: 250px;
    border-radius: 0.1rem;
}

.item>p {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}